{% extends "base.html" %}


{% block title %}IntroHQU - Register{% endblock %}


{% block content %}
<div class="container">
    <form class="form-horizontal" action="" method="post" name="register" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="input_email" class="col-md-4 control-label">Email</label>
        <div class="col-md-4">
            {{ form.email(type="text", class_="form-control", id="input_email", placeholder="Email address") }}
        </div>
    </div>

    <div class="form-group">
        <label for="input_username" class="col-md-4 control-label">Username</label>
        <div class="col-md-4">
            {{ form.username(type="text", class_="form-control", id="input_username", placeholder="Username") }}
        </div>
    </div>

    <div class="form-group">
        <label for="input_password" class="col-md-4 control-label">Password</label>
        <div class="col-md-4">
            {{ form.password(type="password", class_="form-control", id="input_password", placeholder="Password") }}
        </div>
    </div>

     <div class="form-group">
        <label for="input_password2" class="col-md-4 control-label">Confirm Password</label>
        <div class="col-md-4">
            {{ form.password2(type="password", class_="form-control", id="input_password2", placeholder="Confirm Password") }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
</div> <!-- container -->
{% endblock %}
