{% extends "base.html" %}


{% block title %}{{ title or "IntroHQU - edit" }}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <p>{{ passage.author.username }} 写于 {{ moment(passage.timestamp).format("LLL") }}</p>
        </div>
       
        <div class="col-md-offset-2 col-md-2">
            <a class="btn btn-primary" href="{{ url_for("editor.edit_passage") }}">写新文章</a>
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <ul class="list-inline">
                <li><a href="{{ url_for("editor.review_passage", id=passage.id) }}">编辑</a></li>
                <li><a href="{{ url_for("editor.delete_passage", id=passage.id) }}">删除</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1>{{ passage.title }}</h1>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            {{ passage.body_html | safe }}
        </div>
    </div>
</div>
{% endblock %}
