{% extends "base.html" %}

{% block title %}{{ title or "IntroHQU - index" }}{% endblock %}

{% block content %}
<div id="show_passage">
    {% if passage %}
        {{ passage.body_html | safe }}
    {% endif %}
    <p>{{ moment(passage.timestamp).format("LLL") }}</p>

    <p><a href="{{ url_for("editor.edit_passage") }}">Create Passage</a></p>
    <p><a href="{{ url_for("editor.review_passage", id=passage.id) }}">Edit Passage</a></p>
    <p><a href="{{ url_for("editor.delete_passage", id=passage.id) }}">Delete Passage</a></p>
</div>
{% endblock %}
