{% extends "base.html" %}
{% import "_macros.html" as macros %}


{% block title %}{{ title or "IntroHQU - edit" }}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <p>{{ passage.author.username }} 写于 {{ moment(passage.timestamp).format("LLL") }}</p>
        </div>
       
        <div class="col-md-offset-2 col-md-2">
            <a class="btn btn-primary" href="{{ url_for("editor.edit_passage") }}">写新文章</a>
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <ul class="list-inline">
                <li><a href="{{ url_for("editor.review_passage", id=passage.id) }}">编辑</a></li>
                <li><a href="{{ url_for("editor.delete_passage", id=passage.id) }}">删除</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1>{{ passage.title }}</h1>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            {{ passage.body_html | safe }}
        </div>
    </div>

    {% if comments %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item">
                    <span class="badge">{{ moment(comment.timestamp).fromNow() }}</span>
                    <p class="list-group-item-text">{{ comment.author.username }} 写于 {{ moment(comment.timestamp).format("LLL") }}</p>
                    <p class="list-group-item-text">{{ comment.body }}
                </li>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="pagination">
                {{ macros.pagination_widget(pagination, "main.show_passage") }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            {% if current_user.is_authenticated %}
            <form action="" method="post" name="comment">
                {{ form.hidden_tag() }}

                <label for="input_comment">Posted Comment</label>
                {{ form.body(class_="form-control", type="text") }}

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Post</button>
                </div>
            </form>
            {% else %}
            <p>Please login before post comment</p>
            <a href="{{ url_for("auth.login") }}">Login</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
